<div class="a6 strate-<%= species.strate %>" data-face="verso">
  <div class="strate-bar"></div>
  <div class="verso-top">
    <div class="verso-name-row">
      <h2><%= species.common_names_fr.presence || species.latin_name %></h2>
      <span class="latin-mini"><%= species.latin_name %></span>
    </div>
    <% letters = %w[J F M A M J J A S O N D] %>
    <% months  = %w[jan feb mar apr may jun jul aug sep oct nov dec] %>
    <div class="cal-line">
      <% months.each_with_index do |m, i| %>
        <% state = cell_state(m, species) %>
        <span class="cell <%= state %>"><%= letters[i] %></span>
      <% end %>
    </div>
    <div class="cal-legend">
      <span><span class="dot flow"></span>Floraison</span>
      <span><span class="dot harv"></span>Récolte</span>
    </div>
  </div>
  <div class="body" style="padding-top: 10px; padding-bottom: 30px">
    <%# Tasks B-13 to B-16: pollination, eco grid, resources, warnings, qr/signature %>
  </div>
</div>
